body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family_mariupol_regular;
  color: $black;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  background-color: $white;
}

.overflow-hidden {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.mobile-hidden {
  @media (max-width: $mobile-max) {
    display: none !important;
  }
}