/* ===== fonts =====*/
$font-family_mariupol_regular : 'Mariupol Regular', sans-serif;
$font-family_mariupol_medium : 'Mariupol Medium', sans-serif;
$font-family_mariupol_bold : 'Mariupol Bold', sans-serif;
$font-family_mariupol_symbols : 'Mariupol Symbols', sans-serif;

/* ===== colors =====*/
$white: #fff;
$light-gray: #F0F0F0;
$medium-gray: #7A7A7A;
$dark-gray: #3C3C3C;
$orange: #FA7A0A;
$black: #303030;

/* ===== width screen =====*/
$mobile-medium: 360px;
$mobile-large: 480px;
$mobile-max: 767px;
$tablet-medium: 991px;
$tablet-max: 1199px;
$desktop-min: 1200px;